@import "../scss/style.config.scss";

.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  @include medium-devices {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.about_me {
  // width: 100%;
  width: 90%;
  // aspect-ratio: 1/1;
  height: fit-content;
  border-radius: 2rem;
  background: linear-gradient(35deg, transparent, $primary-color, transparent);
  display: grid;
  place-items: center;
  @include medium-devices {
    width: 50%;
    margin: 4rem auto 6rem;
  }
  @include small-devices {
    width: 65%;
    margin: 1rem auto 3rem;
  }
}

.about_me_image {
  border: 2px solid $primary-color;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: $transition;
  &:hover {
    transform: rotate(0);
    // border-color: $bg-variant-color;
  }
}

.about_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  @include small-devices {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.about_card {
  background: $bg-variant-color;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: $transition;
  &:hover {
    background: transparent;
    border-color: $primary-color-variant;
    cursor: default;
  }

  h5 {
    font-size: 0.95rem;
  }

  small {
    font-size: 0.7rem;
    color: $light-color;
  }
}

.about_icon {
  color: $primary-color;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about_content {
  p {
    margin: 2rem 0 2.6rem;
    color: $light-color;
    @include medium-devices {
      margin: 1rem 0 1.5rem;
    }
    @include small-devices {
      margin: 1.5rem 0;
    }
  }
  @include small-devices {
    text-align: center;
  }
}
