@import "../scss/style.config.scss";

header {
  // height: 100vh;
  padding-top: 7rem;
  // overflow: hidden;

  @include medium-devices {
    // height: 68vh;
  }
  @include small-devices {
    // height: 100vh;
  }
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

// CTA STYLE HERE
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

// HEADER SOCIAL STYLE HERE

.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  &::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: $primary-color;
  }
  @include small-devices {
    display: none;
  }
}

// ME PICTURE STYLE HERE

.me {
  background: linear-gradient($primary-color, transparent);
  width: 22rem;
  height: 30rem;
  position: relative;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  // overflow: hidden;
  // padding: 5rem 0.2rem 1.5rem 0.2rem;
  // padding: 0 0 0 0;
  img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    // object-fit:cover;
  }
}

// SCROLL DOWN STYLE HERE

.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  @include small-devices {
    display: none;
  }
}