@import "../scss/style.config.scss";

footer {
  background: $primary-color;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;

  a {
    // color: $bg-color;
    color: $white-color;
    &:hover {
      color: $bg-color;
    }
  }

  @include medium-devices {
  }
}

.footer_logo {
  // background-color: red;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  // display: inline-block;
  img {
    width: 15%;
    border: 2.5px solid $bg-variant-color;
    border-radius: 1rem;
    margin: 0 auto;
    @include medium-devices {
      width: 20%;
      border-radius: 1rem;
    }
    @include small-devices {
      width: 20%;
      border-radius: 1rem;
    }
    &:hover{
      background-color: white;
    }
  }
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto 3rem;

  @include small-devices {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;

  a {
    background: $bg-color;
    color: $white-color;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      color: $bg-color;
      border-color: $bg-color;
    }
  }

  @include small-devices {
    margin-bottom: 2.6rem;
  }
}

.footer_copyright {
  margin-bottom: 4rem;
  color: $bg-color;
}
